*{font-family: Georgia, 'Times New Roman', Times, serif;}
.main{
background-color: #282c34;
}
.logo, #root{
display: grid;
grid-template-columns:repeat(12,1fr);
gap: 10px;

}
.logo , .main, .footer{
  grid-column: span 12;
  background-color: #fff;
}
.logo img{
  grid-column: span 4;
  width:180px;
  height: auto;
  align-self: center;
  justify-self: end;
}
.logo div{
  grid-column: 3;
}
.logo img:hover{
  cursor: pointer;
}
.logo nav {
  grid-column: span 8;
}
.logo ul li{
  display: inline;
  margin: 10px auto;
  padding: 10px;
}
.logo li:hover{
  color: #F4CE14;
  cursor: pointer;
}
.testimonials{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:10px;
  background-color: #495E57;
  height:auto;
  padding-bottom: 20px;
}
.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:10px;
  background-color: #495E57;
  height:204px;
  padding-bottom: 20px;
}

.testimonials div{
  grid-column: 2 / span 10;
  height:max-content;
}
.testimonials h1{
  text-align: center;
}
.profile{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 60px;
}
.profile div{
  grid-column: span 1;
  background-color: #848484;
  padding-bottom: 30px;
  box-shadow: #F4CE14;
}
.profile div:hover{
  border-left: #495E57 solid 10px;
  border-right: #495E57 solid 10px;
  opacity: 0.7;
}
.profile p,h3,span{
  margin:0px 20px;
}
.profile span{
  color: yellow;
  font-size: x-large;
}

.profile img{
  width: 100%;
  height: 310px;
  border-radius: none;
}
.hero-1{
  grid-column: 3/span 3;
}
.hero img{
  height: 270px;
  width: 200px;
  padding: 20px;
  grid-column: 7/ span 3;
  border: 0px solid black;
  border-radius:40px;
}
h1{
  color: #F4CE14;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero h3,p{
  color: #fff;
  margin-left:0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
  background-color: #F4CE14;
  color: #000;
  border: none;
  font-size:medium;
  padding: 10px 20px;
  border-radius: 20px;
}
button:hover{
background-color: #878686;
color: #F4CE14;
cursor: pointer;
}

.highlights, .about{
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:10px;
  background-color:#fff;
  padding-bottom: 40px;
}
.highlights h1{
  color: #000;
  font-weight: bolder;
  grid-column: 3/ span 4;
}
.highlights button{
  grid-column: 9/ span 5;
  height: fit-content;
  width: 150px;
  margin-top: 20px;
  border-radius: 10px;
}
.highlights .cards{
  grid-column: 3/ span 8;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}
.cards div{
  grid-column: span 3;
  background-color: #EDEFEE;
  width: 250px;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
  padding-bottom: 20px;
}
.cards>div:hover{
  cursor: pointer;
  border: #495E57 solid 3px;
}

.cards img{
  width:250px;
  height: 167px;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
}
.menu h3,h5,h4{
  display: inline;
   margin-left: 20px;
}
.menu h5{
  color: red;
}
.cards p{
  margin: 20px 20px;
  color:#495E57;
}
a{
  text-decoration: none;
}
a:link{
  color: #000;
}
a:visited{
  color: #000;
}

a:hover{
  color: #F4CE14;

}
a:active{
  color: #F4CE14;
}
.about{
  grid-column: span 12;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap: 50px;
}
.about div{
  margin:0px 20px;
  margin-top: -20px;
}
.about p{
  color: #000;
}
.about .about1{
margin: 80px 100px;
}

button a:hover{
  color: #F4CE14;
}

.form {
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12,1fr);
  gap: 20px;
  background-image: url(./Images/lazy-margherita-pizza-2-2.webp);
  padding: 50px;
  margin: 20px 0px;
}
.form form{
  grid-column:span 12;
  margin: 0px 350px;
}
form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  border: 1px solid #fff;
  padding: 30px;
  border-radius: 20px;
  background-color:#495e57bc;
}
.form button{
  background-color: #F4CE14;
  color: #000;
  grid-column: span 2;
  width: 400px;
  justify-self: center;
}
.form button:hover{
  background-color: #000;
  color: #F4CE14;
}
.form option{
  background-color: #00000075;
}

.form label{
  background-color: #00000089;
  color: #F4CE14;
  text-align: center;
  border-radius: 20px;
}
.form input{
  background-color: #ffffff;
  color: #000;
}
.footer{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap:20px;
  max-height: 220px;
  background-color: #495e5783;
  padding: 30px;
}
.footer-logo{
  grid-column: 3/span 2;
  max-height: 200px;
}

.footer-logo img{
height: 100%;
padding-bottom: 50px;

}
.footer-text{
  grid-column: 5/ span 8;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.footer-text div{
  padding: 30px 0px;
}
.footer-text h4{
 margin:0px;
}
.footer li{
  list-style-type: none;
  padding: 5px 0;

}


#about-images {
  position: relative;
  display: flex;
  width: 100%;
}

#about-first-image {
  z-index: 100;
}

#about-second-image {
  position: absolute;
  bottom: -20%;
  right: 70%;
  z-index: 50;
  color: darkgray;
}

#about-images img {
  max-width: 272px;
  max-height: 338px;
  width: 272px;
  height: 338px;
}

@media only screen and (max-width: 1068px) {
  .about-columns {
    gap: 10px !important;
  }

  #about-first-image,
  #about-second-image {
    transform: scale(0.8);
  }

  #about-second-image {
    right: -35%;
    bottom: -25%;
  }
}
@media only screen and (max-width: 620px) {
  #about-first-image,
  #about-second-image {
    transform: scale(0.4);
  }
#about-first-image{
margin-left: -20px;
}
  #about-second-image {
    right: -25%;
    bottom: -12%;
  }
.about-right-column #about-images{
  width:190px;
}
}

@media only screen and (max-width: 620px) {
 .logo div {
      grid-column: span 12;
  }
.logo img {
margin:5px 116px;
}
.logo nav {
  grid-column: span 12;
}
.logo nav ul{
  padding: 0px 0px;
  margin-top: -20px;
}
.logo nav ul li{
  margin: 0px 5px;
  padding: 0px;
  font-size: small;
}
.hero-1{
  grid-column: 2/9;
  max-width: 200px;
}
.hero-1 button{
  max-width: max-content;
}
.hero{
  height:200px;
}
.hero img{
grid-column:9/ span 5 ;
margin-top: 20px;
margin-right: 10px;
padding: 0px;
max-width: 150px;
max-height: 80%;
}
.hero p,button{
margin:15px 0px;
padding:5px;
}
.hero-1 h1{
  margin: 5px 0px 0px 0px;
  padding: 0;
}
.highlights h1{
  grid-column: span 12;
  font-size: medium;
  text-align: center;
}
.highlights .cards{
  grid-column: 1/13;
  margin: 0px auto;
}
.cards{
  height: 300px;
}
.cards div{
 max-width: 120px;
 max-height: fit-content;
}
.highlights button{
  margin: 0px;
  max-width: fit-content;
  padding: 5px;
}
.cards img{
  max-width:120px;
  height: 90px;
}
.cards h3,h5,p{
  font-size:x-small;
  padding: 0px 2px;
  margin: 0px;
  max-width: fit-content;
}
.cards h4{
font-size: xx-small;
margin: 10px 5px;
padding: 0;
}
.cards div p{
  padding: 0px;
  margin: 0px 3px;
}

.highlights button{
  grid-column: 2/span 3;
}
.profile{
  max-width: 400px;
  gap: 10px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}
.profile div{
  max-width: 110px;
  height: 100%;
  padding: 0px;
}
.profile div:hover{
  margin: 0px;
  padding: 0px;
  border: none;
  cursor: pointer;
}
.profile div img{
  max-height: 130px;
}
.profile div h3,span{
  font-size:xx-small;
  margin: 5px;
  padding: 0px;
}
.profile div p{
  margin: 5px;
  font-size: xx-small;
}
.profile div span{
  margin-top:0px;
  font-size: xx-small;
}
.about {
  max-width: 400px;
  padding: 10px 0px;
  gap: 5px;
}

.about .about1{
  max-width: 200px;
  padding: 0px;
  margin: 0px;
}

#about-images{
  max-width: 200px;
}
.about1,.about2{
  width: 180px;
  padding: 0px;
  margin: 0px;
}
.about1 h2,h4,p{
margin: 40px 0px 0px 30px;
padding: 0px;
font-size: x-small;
}
.footer {
  margin: 0px;
  padding: 10px;
}
.footer-logo{
  grid-column: 1;
  margin: 10px;
  height: fit-content;
}
.footer-logo img{
  max-width: 60px;
  max-height: 100px;
  padding: 0px;
}
.footer-text{
  grid-column: 2/13;
  max-height: fit-content;
  padding: 0px;
  margin-left:-10px;
  gap: 0px;
}
.footer-text div {
  padding: 0px;
  width: 90px;
}
.footer-text div h4,li{
  font-size: xx-small;
  margin: 0px;
  padding:0px 0px;
}
.footer .social{
  margin: 0px;
  padding: 0px;
  width: 100px;
}
.footer svg,a{
 width: 10px;
 margin-right: 0px;
 text-align:none;
}
.footer-text div{
  max-height: fit-content;
}
}


.online{
  grid-column: span 12;
}
.online h1{
  grid-column: 5/ span 8;
  width:max-content;
}

.footer svg{
  max-width: 40px;
  margin-right: 10px;
  text-align: center;
}
.footer svg:hover{
  background-color: #fafafa77;
}
.social{
  padding: 0px;
  margin-top: -20px;
}

