
.main{
background-color: #282c34;
}
.logo, #root{
display: grid;
grid-template-columns:repeat(12,1fr);
gap: 10px;

}
.logo , .main, .footer{
  grid-column: span 12;
  background-color: #fff;
}
.logo img{
  grid-column: span 4;
  width:180px;
  height: 45px;
  align-self: center;
  justify-self: end;
}
.logo img:hover{
  cursor: pointer;
}
.logo nav {
  grid-column: span 8;
}
.logo ul li{
  display: inline;
  margin: 10px auto;
  padding: 10px;
}
.logo li:hover{
  color: #F4CE14;
  cursor: pointer;
}
.hero, .testimonials{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:10px;
  background-color: #495E57;
  height: 240px;
}

.hero-1{
  grid-column: 3/span 3;
}
.hero img{
  height: 270px;
  width: 200px;
  padding: 20px;
  grid-column: 7/ span 3;
  border: 0px solid black;
  border-radius:40px;
}
h1{
  color: #F4CE14;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero h3,p{
  color: #fff;
  margin-top: -10px;
}
button{
  background-color: #F4CE14;
  color: #000;
  border: none;
  font-size: larger;
  padding: 10px;
  border-radius: 20px;
}
button:hover{
background-color: #000;
color: #F4CE14;
cursor: pointer;
}

.highlights, .about{
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:10px;
  background-color:#fff;
  padding-bottom: 40px;
}
.highlights h1{
  color: #000;
  font-weight: bolder;
  grid-column: 3/ span 4;
}
.highlights button{
  grid-column: 9/ span 5;
  height: fit-content;
  width: 150px;
  margin-top: 20px;
  border-radius: 10px;
}
.highlights .cards{
  grid-column: 3/ span 8;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}
.cards div{
  grid-column: span 3;
  background-color: #EDEFEE;
  width: 250px;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
  padding-bottom: 20px;
}
.cards img{
  width:250px;
  height: 167px;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
}
.menu h3,h5,h4{
  display: inline;
   margin-left: 20px;
}
.menu h5{
  color: red;
  margin-left: 60px;
}
.cards p{
  margin: 20px 20px;
  color:#495E57;
}