.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
display: grid;
grid-template-columns:repeat(12,1fr);
margin: 0 auto;
gap: 10px;
margin: 0 20px;
}
.logo img{
  grid-column: span 4;
  width:180px;
  height: 45px;
  align-self: center;
  justify-self: end;
}
.logo nav {
  grid-column: span 8;
}
.logo ul li{
  display: inline;
  margin: 10px auto;
  padding: 10px;
}
.little{
width: 100%;
background-color: #495E57;
display: grid;
grid-template-columns:repeat(12,1fr);
margin: 0 auto;
gap: 10px;

}
.one{
  grid-column:3/7;
  color: #F4CE14;
  font-family:'Times New Roman', Times, serif;
  
}
.one h3{
  color: #fff;
  margin-top: -20px;
}
.one p{
  color: #fff;
}
button{
  grid-column: span 3/8;
  width:150px;
  padding: 10px;
  background-color: #F4CE14;
  color: #000;
  border: none;
  border-radius: 10px;
}

.two {
  grid-column: 8/11;
  
}
.two img{
  padding-top: 30px;
  width: 210px;
  height: 300px;
  border-radius: 15%;
  margin-left: 0px;
  
}
.main{
  height: 600px;
  background-color:beige;
}